*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*mode jours*/
:root[data-theme="light"] {
  --bg: #f6f8f7;
  --bg-top: #ffffff;

  --card: #ffffff;
  --text: #1f2937;
  --muted: #6b7280;

  --primary: #16a34a;
  --primary-2: #4ade80;

  
  --accent: #86efac;

  --shadow: rgba(22, 163, 74, 0.18);
  --radius: 16px;

  --glass: rgba(22, 163, 74, 0.06);
  --glass-stroke: rgba(22, 163, 74, 0.18);
  --divider: rgba(22, 163, 74, 0.12);

  --page-bg:
    radial-gradient(
      1200px 800px at 80% -10%,
      rgba(74, 222, 128, 0.15),
      transparent
    ),
    linear-gradient(180deg, var(--bg-top), var(--bg));

  --header-bg: rgba(255, 255, 255, 0.8);

  --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", Arial, sans-serif;
}

/* mode nuit*/
:root[data-theme="dark"] {
  --bg: #0f172a;
  --bg-top: #020617;

  --card: #111827;
  --text: #e5e7eb;
  --muted: #9ca3af;

 
  --primary: #22c55e;
  --primary-2: #4ade80;

 
  --accent: #86efac;

  --shadow: rgba(34, 197, 94, 0.35);
  --radius: 16px;

  --glass: rgba(34, 197, 94, 0.07);
  --glass-stroke: rgba(34, 197, 94, 0.25);
  --divider: rgba(34, 197, 94, 0.14);

  --page-bg:
    radial-gradient(
      1200px 800px at 80% -10%,
      rgba(34, 197, 94, 0.10),
      transparent
    ),
    linear-gradient(180deg, var(--bg-top), var(--bg));

  --header-bg: rgba(2, 6, 23, 0.75);

  --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", Arial, sans-serif;
}
html {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body,
button,
header,
footer {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}

body {
  font-family: var(--font-sans);
  background: var(--page-bg);
  color: var(--text);
  line-height: 1.55;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}